<!DOCTYPE html>

<html lang="{{ grav.language.getLanguage ?: 'de' }}">
 
<head>
{% block head %}   
    
    
    
    
{% endblock head %}    
</head>

<body id="top" class="{{ page.header.body_classes }}">
    



    
</body>    
</html>