 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Workbook</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    {% block stylesheets %}
    {% do assets.addCss('theme://css/style.css') %}
    {% endblock %}
    
    
</head>

<body>
    
    

</body>

</html> 