 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Workbook</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    {% block stylesheets %}
    {% do assets.addCss('theme://css/style.css') %}
    {% endblock %}
    
    
</head>

<body>
    
    <h1>Hallo, das hier ist ein Test, um zu sehen ob diese Datei ordnungsgemäss funktioniert</h1>

</body>

</html> 